ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
li {
    background: tomato;
    line-height: 150px;
    color: white;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
}

.my-list {
    display: -webkit-flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.my-item {
    width: 200px;
    height: 150px;
    padding: 5px;
}